<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body class="home">
  <div class="navbar-fixed">
    <nav>
      <h3 class="warning">DEVELOPMENT, NOT STAGED.</h3>
      <div class="nav-wrapper blue">
        <a href="/" class="brand-logo text-accent-3"><strong>PGCDC</strong></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">CS @ PG</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">CS @ PG</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <img src="images/PGCDCBG.gif" class="logo">
  <div class="container">
    <h2 class="center">Cyber Defense Competition. <mark>By Students</mark>.</h2>
    <marquee behavior="scroll" direction="left"><h3>The first Porter-Gaud Cyber Defense Competition. The first entirely student run Cyber Defense Competition. The first annual game changer.</h3></marquee>
    <br>
  </div>
  <div class="container">
    <h2><u>Participation</u></h2>
    <h4>While our goal will always be to make cybersecurity education available to as many students as possible, we want to make sure this first competition is the best it possibly can be. Unfortunately, this means PGCDC will be an invite-only competition. If you think your school's cybersecurity team has what it takes to participate, feel free to reach out using the contact form— we'll be sure to let you know if a spot opens up!</h4>
    <br>
  </div>
  <div class="container">
    <h2><u>Venue</u></h2>
    <h4>PGCDC will be hosted right at the heart of Charleston at Porter-Gaud School in West Ashley.</h4>
    <br>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
